<div class="container form-spacing">
  <div class="vertical-center-row">
    <div align="center">
      <h1>Edit Need</h1>

      <%= render partial: "form", locals: (need: @need) %>
    </div>
  </div>
</div>
