<div class="prof-chunk">
  <%= render partial: "admin/shared/profile" %>
</div>

  <div class="donor-donations">
    <% @user.donations.each do |donation| %>
      <% donation.needs.each do |recipient_donation| %>
      <p><%= User.where(user_id: recipient_donation.needs.user_id) %></p>
      <p><%= recipient_donation.name %></p>
      <% end %>
    <% end %>
    <br>
  </div>

  <% end %>
