<div class="container form-spacing">
  <div class="vertical-center-row">
    <div align="center">
      <h1>Edit Your Account</h1>
      <%= render partial: "form", locals: { submit_message: "Update Account", new: false } %>
    </div>
  </div>
</div>
