<h1>Recipients</h1>

<% @recipients.each do |recipient| %>
  <%= link_to recipient.full_name, recipient_path(recipient.username) %>
  <ul>
    <li>Country: <%= recipient.country %></li>
    <li>Total Need: <%= number_to_currency(recipient.total) %></li>
  </ul>
<% end %>
