<div class="faded">
  <div class="container form-spacing">
    <div class="vertical-center-row">
      <div align="center">
        <div class="paddd">
        </div>
        <div class="white">
          <h1>Create An Account</h1>
        </div>
        <br>
        <%= render partial: "form", locals: { submit_message: "Create Account", new: true } %>
      </div>
    </div>
  </div>
</div>
