<div class="profile-chunk">
  <%= render partial: "shared/profile", locals: {user: @user} %>
</div>
<% if current_user.recipient? %>
  <div class="recipient-show-chunk">
    <%= render "recipient_show" %>
  </div>
<% else %>
  <div class="donor-show-chunk">
    <%= render "donor_show" %>
  </div>
<% end %>
