<div class="filter">
  <label>Filter By Category</label>
  <%= select :need, :filter_category, @categories, {include_blank: true} %>
  <label>Search By Name</label>
  <%= text_field :need, :filter_name %>
</div>

