<footer class="section section-primary footer navbar-fixed-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>goats and soda</h1>
        <p>We know that no single organization and no number of isolated projects can address,
        <br>the systemic causes of poverty and hunger. Our approach involves enhancing the 
        <br>the capacity of vulnerable small-scale-farmers, especially women, to secure their
        <br>livelihoods. Multiplied by strong social capital and women's empowerment, our work
        <br>results in a suitainable solution to world hunger and poverty</p>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
        <br>
        <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
