<div class="sploosh">
  <%= image_tag "goatsmntns.jpg", width: "100%", padding: "50px"%>
</div>
<!-- Header -->
<center>
    <a name="about"></a>
    <div class="intro-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="splash">
              <div class="intro-message">
                <h3>Microdonations with Macroimpact</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                  <li>
                      <%= splash_link %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <center>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
