<!-- <div class="cart">
	<div class="container">
		<div class="cart-top">
			<h4>Your Donations</h4>
    </div>
		<div class="cart-conclusion">
			<%= render partial: "shared/donations", locals: { donations:@donations } %>
		</div>
	</div>
</div> -->
