<div class="cart">
	<div class="container">
		<div class="cart-top">
			<%= render partial: "shared/donation", locals: { donation:@donation, donation_items:@donation_items } %>
		</div>
	</div>
</div>
