/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.img-rounded {
  background: no-repeat center center;
    width: 100px;
    height: 100px;
}

.catalog {
  
}
