<div class="container form-spacing">
  <div class="vertical-center-row">
    <div align="center">
      <h1>User Edit Page</h1>
      <h3>Update User Information:</h3>
      <%= render partial: "form", locals: { action: "update", message: "Update User Account" } %>
    </div>
  </div>
</div>
