<div class="container">
  <div class="recip-head">
    <h1>All Users</h1>
  </div>
  <table class="table-striped admin-user-table">
    <tr>
      <th>Role</th>
      <th>Image</th>
      <th>Name</th>
      <th>Email</th>
      <th>Country</th>
      <th>Username</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <% @admins.each do |user| %>
      <%= render partial: "user", locals: { user: user } %>
    <% end %>
    <% @recipients.each do |user| %>
      <%= render partial: "user", locals: { user: user } %>
    <% end %>
    <% @donors.each do |user| %>
      <%= render partial: "user", locals: { user: user } %>
    <% end %>
  </table>
</div>
