<!DOCTYPE html>
<html>
<head>
  <title>Goats and Soda</title>
</head>
<body>
  <div id="pagewrap">
    <% flash.each do |type, message| %>
    <%= content_tag :div, message.html_safe, class: type %>
    <% end %>
    <div id="main_body">
      <%= yield %>
  </div>

</body>
</html>
